/* Indent headings v0.4.1-dev
   github.com/zamsyt */

:root:root .cm-content > div, .markdown-preview-view > * > div, .print > * > * {
  margin-left: calc(max(var(--heading-level) - 1, 0) * 20px) !important;
}

:root:root:root:root:root {
  .HyperMD-header-1 { --heading-level: 1; }
  .HyperMD-header-2 { --heading-level: 2; }
  .HyperMD-header-3 { --heading-level: 3; }
  .HyperMD-header-4 { --heading-level: 4; }
  .HyperMD-header-5 { --heading-level: 5; }
  .HyperMD-header-6 { --heading-level: 6; }
}

:root:root :not(.cm-active):has(> .cm-formatting-header:last-child) {
  &.HyperMD-header-1 { --heading-level: 0; }
  &.HyperMD-header-2 { --heading-level: 1; }
  &.HyperMD-header-3 { --heading-level: 2; }
  &.HyperMD-header-4 { --heading-level: 3; }
  &.HyperMD-header-5 { --heading-level: 4; }
  &.HyperMD-header-6 { --heading-level: 5; }
}

:root:root .markdown-preview-section > div {
  &:has(> h1) { --heading-level: 1; }
  &:has(> h2) { --heading-level: 2; }
  &:has(> h3) { --heading-level: 3; }
  &:has(> h4) { --heading-level: 4; }
  &:has(> h5) { --heading-level: 5; }
  &:has(> h6) { --heading-level: 6; }
}

:root:root:root:root .print {
  & h1 { --heading-level: 1; }
  & h2 { --heading-level: 2; }
  & h3 { --heading-level: 3; }
  & h4 { --heading-level: 4; }
  & h5 { --heading-level: 5; }
  & h6 { --heading-level: 6; }
}

:nth-child(1 of :is(.HyperMD-header, :has(> [data-heading]))) {
                                                  &:has(> h1[data-heading=""]) ~ *,                                                                       &.HyperMD-header-1:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 0; }
  &:has(> h1):not(:has(> [data-heading=""])) ~ *, &:has(> h2[data-heading=""]) ~ *, &.HyperMD-header-1:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-2:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 1; }
  &:has(> h2):not(:has(> [data-heading=""])) ~ *, &:has(> h3[data-heading=""]) ~ *, &.HyperMD-header-2:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-3:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 2; }
  &:has(> h3):not(:has(> [data-heading=""])) ~ *, &:has(> h4[data-heading=""]) ~ *, &.HyperMD-header-3:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-4:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 3; }
  &:has(> h4):not(:has(> [data-heading=""])) ~ *, &:has(> h5[data-heading=""]) ~ *, &.HyperMD-header-4:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-5:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 4; }
  &:has(> h5):not(:has(> [data-heading=""])) ~ *, &:has(> h6[data-heading=""]) ~ *, &.HyperMD-header-5:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-6:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 5; }
  &:has(> h6):not(:has(> [data-heading=""])) ~ *,                                   &.HyperMD-header-6:not(:has(> .cm-formatting-header:last-child)) ~ *                                                                 { --heading-level: 6; }
}


:nth-child(2 of :is(.HyperMD-header, :has(> [data-heading]))) {
                                                  &:has(> h1[data-heading=""]) ~ *,                                                                       &.HyperMD-header-1:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 0; }
  &:has(> h1):not(:has(> [data-heading=""])) ~ *, &:has(> h2[data-heading=""]) ~ *, &.HyperMD-header-1:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-2:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 1; }
  &:has(> h2):not(:has(> [data-heading=""])) ~ *, &:has(> h3[data-heading=""]) ~ *, &.HyperMD-header-2:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-3:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 2; }
  &:has(> h3):not(:has(> [data-heading=""])) ~ *, &:has(> h4[data-heading=""]) ~ *, &.HyperMD-header-3:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-4:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 3; }
  &:has(> h4):not(:has(> [data-heading=""])) ~ *, &:has(> h5[data-heading=""]) ~ *, &.HyperMD-header-4:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-5:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 4; }
  &:has(> h5):not(:has(> [data-heading=""])) ~ *, &:has(> h6[data-heading=""]) ~ *, &.HyperMD-header-5:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-6:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 5; }
  &:has(> h6):not(:has(> [data-heading=""])) ~ *,                                   &.HyperMD-header-6:not(:has(> .cm-formatting-header:last-child)) ~ *                                                                 { --heading-level: 6; }
}

:nth-child(3 of :is(.HyperMD-header, :has(> [data-heading]))) {
                                                  &:has(> h1[data-heading=""]) ~ *,                                                                       &.HyperMD-header-1:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 0; }
  &:has(> h1):not(:has(> [data-heading=""])) ~ *, &:has(> h2[data-heading=""]) ~ *, &.HyperMD-header-1:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-2:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 1; }
  &:has(> h2):not(:has(> [data-heading=""])) ~ *, &:has(> h3[data-heading=""]) ~ *, &.HyperMD-header-2:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-3:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 2; }
  &:has(> h3):not(:has(> [data-heading=""])) ~ *, &:has(> h4[data-heading=""]) ~ *, &.HyperMD-header-3:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-4:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 3; }
  &:has(> h4):not(:has(> [data-heading=""])) ~ *, &:has(> h5[data-heading=""]) ~ *, &.HyperMD-header-4:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-5:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 4; }
  &:has(> h5):not(:has(> [data-heading=""])) ~ *, &:has(> h6[data-heading=""]) ~ *, &.HyperMD-header-5:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-6:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 5; }
  &:has(> h6):not(:has(> [data-heading=""])) ~ *,                                   &.HyperMD-header-6:not(:has(> .cm-formatting-header:last-child)) ~ *                                                                 { --heading-level: 6; }
}

:nth-child(4 of :is(.HyperMD-header, :has(> [data-heading]))) {
                                                  &:has(> h1[data-heading=""]) ~ *,                                                                       &.HyperMD-header-1:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 0; }
  &:has(> h1):not(:has(> [data-heading=""])) ~ *, &:has(> h2[data-heading=""]) ~ *, &.HyperMD-header-1:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-2:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 1; }
  &:has(> h2):not(:has(> [data-heading=""])) ~ *, &:has(> h3[data-heading=""]) ~ *, &.HyperMD-header-2:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-3:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 2; }
  &:has(> h3):not(:has(> [data-heading=""])) ~ *, &:has(> h4[data-heading=""]) ~ *, &.HyperMD-header-3:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-4:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 3; }
  &:has(> h4):not(:has(> [data-heading=""])) ~ *, &:has(> h5[data-heading=""]) ~ *, &.HyperMD-header-4:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-5:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 4; }
  &:has(> h5):not(:has(> [data-heading=""])) ~ *, &:has(> h6[data-heading=""]) ~ *, &.HyperMD-header-5:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-6:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 5; }
  &:has(> h6):not(:has(> [data-heading=""])) ~ *,                                   &.HyperMD-header-6:not(:has(> .cm-formatting-header:last-child)) ~ *                                                                 { --heading-level: 6; }
}

:nth-child(5 of :is(.HyperMD-header, :has(> [data-heading]))) {
                                                  &:has(> h1[data-heading=""]) ~ *,                                                                       &.HyperMD-header-1:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 0; }
  &:has(> h1):not(:has(> [data-heading=""])) ~ *, &:has(> h2[data-heading=""]) ~ *, &.HyperMD-header-1:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-2:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 1; }
  &:has(> h2):not(:has(> [data-heading=""])) ~ *, &:has(> h3[data-heading=""]) ~ *, &.HyperMD-header-2:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-3:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 2; }
  &:has(> h3):not(:has(> [data-heading=""])) ~ *, &:has(> h4[data-heading=""]) ~ *, &.HyperMD-header-3:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-4:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 3; }
  &:has(> h4):not(:has(> [data-heading=""])) ~ *, &:has(> h5[data-heading=""]) ~ *, &.HyperMD-header-4:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-5:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 4; }
  &:has(> h5):not(:has(> [data-heading=""])) ~ *, &:has(> h6[data-heading=""]) ~ *, &.HyperMD-header-5:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-6:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 5; }
  &:has(> h6):not(:has(> [data-heading=""])) ~ *,                                   &.HyperMD-header-6:not(:has(> .cm-formatting-header:last-child)) ~ *                                                                 { --heading-level: 6; }
}

:nth-child(6 of :is(.HyperMD-header, :has(> [data-heading]))) {
                                                  &:has(> h1[data-heading=""]) ~ *,                                                                       &.HyperMD-header-1:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 0; }
  &:has(> h1):not(:has(> [data-heading=""])) ~ *, &:has(> h2[data-heading=""]) ~ *, &.HyperMD-header-1:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-2:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 1; }
  &:has(> h2):not(:has(> [data-heading=""])) ~ *, &:has(> h3[data-heading=""]) ~ *, &.HyperMD-header-2:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-3:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 2; }
  &:has(> h3):not(:has(> [data-heading=""])) ~ *, &:has(> h4[data-heading=""]) ~ *, &.HyperMD-header-3:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-4:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 3; }
  &:has(> h4):not(:has(> [data-heading=""])) ~ *, &:has(> h5[data-heading=""]) ~ *, &.HyperMD-header-4:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-5:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 4; }
  &:has(> h5):not(:has(> [data-heading=""])) ~ *, &:has(> h6[data-heading=""]) ~ *, &.HyperMD-header-5:not(:has(> .cm-formatting-header:last-child)) ~ *, &.HyperMD-header-6:has(> .cm-formatting-header:last-child) ~ * { --heading-level: 5; }
  &:has(> h6):not(:has(> [data-heading=""])) ~ *,                                   &.HyperMD-header-6:not(:has(> .cm-formatting-header:last-child)) ~ *                                                                 { --heading-level: 6; }
}



.print :nth-child(1 of [data-heading]) {
                                       &:is(h1)[data-heading=""] ~ * { --heading-level: 0; }
  &:is(h1):not([data-heading=""]) ~ *, &:is(h2)[data-heading=""] ~ * { --heading-level: 1; }
  &:is(h2):not([data-heading=""]) ~ *, &:is(h3)[data-heading=""] ~ * { --heading-level: 2; }
  &:is(h3):not([data-heading=""]) ~ *, &:is(h4)[data-heading=""] ~ * { --heading-level: 3; }
  &:is(h4):not([data-heading=""]) ~ *, &:is(h5)[data-heading=""] ~ * { --heading-level: 4; }
  &:is(h5):not([data-heading=""]) ~ *, &:is(h6)[data-heading=""] ~ * { --heading-level: 5; }
  &:is(h6):not([data-heading=""]) ~ *                                { --heading-level: 6; }
}

.print :nth-child(2 of [data-heading]) {
                                       &:is(h1)[data-heading=""] ~ * { --heading-level: 0; }
  &:is(h1):not([data-heading=""]) ~ *, &:is(h2)[data-heading=""] ~ * { --heading-level: 1; }
  &:is(h2):not([data-heading=""]) ~ *, &:is(h3)[data-heading=""] ~ * { --heading-level: 2; }
  &:is(h3):not([data-heading=""]) ~ *, &:is(h4)[data-heading=""] ~ * { --heading-level: 3; }
  &:is(h4):not([data-heading=""]) ~ *, &:is(h5)[data-heading=""] ~ * { --heading-level: 4; }
  &:is(h5):not([data-heading=""]) ~ *, &:is(h6)[data-heading=""] ~ * { --heading-level: 5; }
  &:is(h6):not([data-heading=""]) ~ *                                { --heading-level: 6; }
}

.print :nth-child(3 of [data-heading]) {
                                       &:is(h1)[data-heading=""] ~ * { --heading-level: 0; }
  &:is(h1):not([data-heading=""]) ~ *, &:is(h2)[data-heading=""] ~ * { --heading-level: 1; }
  &:is(h2):not([data-heading=""]) ~ *, &:is(h3)[data-heading=""] ~ * { --heading-level: 2; }
  &:is(h3):not([data-heading=""]) ~ *, &:is(h4)[data-heading=""] ~ * { --heading-level: 3; }
  &:is(h4):not([data-heading=""]) ~ *, &:is(h5)[data-heading=""] ~ * { --heading-level: 4; }
  &:is(h5):not([data-heading=""]) ~ *, &:is(h6)[data-heading=""] ~ * { --heading-level: 5; }
  &:is(h6):not([data-heading=""]) ~ *                                { --heading-level: 6; }
}

.print :nth-child(4 of [data-heading]) {
                                       &:is(h1)[data-heading=""] ~ * { --heading-level: 0; }
  &:is(h1):not([data-heading=""]) ~ *, &:is(h2)[data-heading=""] ~ * { --heading-level: 1; }
  &:is(h2):not([data-heading=""]) ~ *, &:is(h3)[data-heading=""] ~ * { --heading-level: 2; }
  &:is(h3):not([data-heading=""]) ~ *, &:is(h4)[data-heading=""] ~ * { --heading-level: 3; }
  &:is(h4):not([data-heading=""]) ~ *, &:is(h5)[data-heading=""] ~ * { --heading-level: 4; }
  &:is(h5):not([data-heading=""]) ~ *, &:is(h6)[data-heading=""] ~ * { --heading-level: 5; }
  &:is(h6):not([data-heading=""]) ~ *                                { --heading-level: 6; }
}

.print :nth-child(5 of [data-heading]) {
                                       &:is(h1)[data-heading=""] ~ * { --heading-level: 0; }
  &:is(h1):not([data-heading=""]) ~ *, &:is(h2)[data-heading=""] ~ * { --heading-level: 1; }
  &:is(h2):not([data-heading=""]) ~ *, &:is(h3)[data-heading=""] ~ * { --heading-level: 2; }
  &:is(h3):not([data-heading=""]) ~ *, &:is(h4)[data-heading=""] ~ * { --heading-level: 3; }
  &:is(h4):not([data-heading=""]) ~ *, &:is(h5)[data-heading=""] ~ * { --heading-level: 4; }
  &:is(h5):not([data-heading=""]) ~ *, &:is(h6)[data-heading=""] ~ * { --heading-level: 5; }
  &:is(h6):not([data-heading=""]) ~ *                                { --heading-level: 6; }
}

.print :nth-child(6 of [data-heading]) {
                                       &:is(h1)[data-heading=""] ~ * { --heading-level: 0; }
  &:is(h1):not([data-heading=""]) ~ *, &:is(h2)[data-heading=""] ~ * { --heading-level: 1; }
  &:is(h2):not([data-heading=""]) ~ *, &:is(h3)[data-heading=""] ~ * { --heading-level: 2; }
  &:is(h3):not([data-heading=""]) ~ *, &:is(h4)[data-heading=""] ~ * { --heading-level: 3; }
  &:is(h4):not([data-heading=""]) ~ *, &:is(h5)[data-heading=""] ~ * { --heading-level: 4; }
  &:is(h5):not([data-heading=""]) ~ *, &:is(h6)[data-heading=""] ~ * { --heading-level: 5; }
  &:is(h6):not([data-heading=""]) ~ *                                { --heading-level: 6; }
}
