/* Indent headings v0.2.0
   github.com/zamsyt */
:root:root .cm-content > div, .markdown-preview-view > * > div {
  margin-left: calc((var(--heading-level) - 1) * 20px) !important;
}

$max-headings: 10;

@for $i from 1 through 6 {
  %heading-#{$i} {
    --heading-level: #{$i};
  }

  .HyperMD-header-#{$i}, div:has(> h#{$i}) {
    --heading-level: #{$i} !important;
  }
}

$rv-headers: "";
$cm-headers: "";
@for $_ from 1 through $max-headings {
  @for $i from 1 through 6 {
    #{$rv-headers} div:has(> h#{$i}) ~ *,
    #{$cm-headers} .HyperMD-header-#{$i} ~ * {
      @extend %heading-#{$i};
    }
  }
  $rv-headers: $rv-headers + "div:has(> [data-heading]) ~";
  $cm-headers: $cm-headers + ".HyperMD-header ~";
}
