/* Multicolumn Notes v0.5.4
   github.com/zamsyt */
$max-columns: 6;

.markdown-preview-view div:has(> hr) +*> hr,
.markdown-source-view :is(.HyperMD-hr:not(.HyperMD-quote), .hr) + :is(.HyperMD-hr, .hr) + *,
.callout-content hr + hr {
	break-after: column;
}

.mod-header,
.frontmatter-container,
.cm-line:has(.cm-hmd-frontmatter),
.cm-line:has(.cm-hmd-frontmatter) + .cm-line:has(br:only-child) {
	column-span: all;
}

/* Add vertical lines */
.cm-contentContainer > *,
.markdown-preview-sizer,
.callout-content {
  column-rule: solid var(--hr-thickness) var(--hr-color);
}

/* Hide double <hr>s */
.hr:has(+ .hr):not(:has(+*+ .cm-active)),
.hr + .hr:not(:has(+ .cm-active)),
.el-hr:has(+ .el-hr), .el-hr + .el-hr,
hr:has(+ hr), hr + hr {
  --hr-color: transparent;
}

.markdown-preview-view div:has(> hr) + * > hr,
.markdown-preview-view div:has(+ * > hr) > hr,
.markdown-preview-view hr + hr,
.markdown-preview-view hr:has(+ hr) {
  margin: 0;
}

/* Disable Readable line length for multi-column notes */
.markdown-source-view.is-live-preview:has(:is(.HyperMD-hr:not(.HyperMD-quote), .hr) + :is(.HyperMD-hr, .hr) + .cm-line:not(:last-child)),
.markdown-preview-view:has(> * > .el-hr + .el-hr + :not(.mod-footer)) {
  --file-line-width: 100%;
}

/* Live preview */
$hrX2: ":is(.HyperMD-hr:not(.HyperMD-quote), .hr) + :is(.HyperMD-hr, .hr)";
$hrs: $hrX2;
@for $i from 2 through $max-columns {
	.is-live-preview .cm-contentContainer > :has(#{$hrs} + .cm-line:not(:last-child)) {
		column-count: $i;
	}
	$hrs: "#{$hrs} ~ #{$hrX2}";
}

/* Reading view
   Requires Contextual Typography */
$hrs: ".el-hr + .el-hr";
@for $i from 2 through $max-columns {
	.markdown-preview-sizer:has(> #{$hrs} + :not(.mod-footer)) {
		column-count: $i;
	}
	$hrs: $hrs + "~ .el-hr + .el-hr"
}

/* Callouts */
$hrs: "hr + hr";
@for $i from 2 through $max-columns {
	.callout-content:has(> #{$hrs}:not(:last-child)) {
		column-count: $i;
	}
	$hrs: $hrs + "~ hr + hr"
}


/* Make first elements of columns have consistent top margins */
// app.css: `.canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view .markdown-preview-pusher + div > *:first-child`
.canvas-node-content > * > .markdown-preview-view div:has(> hr) + div:has(> hr) + div > :first-child,
// app.css: `.inline-embed .markdown-embed-content p:first-child { margin-top: 0; }`
// Surely this is not intentional? (this targets ALL top-level paragraphs since they're all under their own divs)
// Well, to make this consistent in embedded callouts:
.inline-embed .markdown-embed-content .callout-content hr + hr + p {
  margin-top: 0;
}

/* Fix embed excess height */
.markdown-embed .markdown-preview-sizer {
	min-height: 0 !important; }

/* Fix list bullet alignment */
// app.css:
// ```
// .markdown-rendered .list-bullet {
//    float: left;
//    margin-left: -1em;
// }
// ```
// Looks like Chromium doesn't like this combination of columns, float and absolute positioning. Here's a replacement:
.markdown-rendered .list-bullet {
  float: none;
  left: -1em;
  margin-left: 0;
}
